<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="top_nav_wrapper">
	
		<ul class="top_nav">

			<li><%= link_to "New Article",
			 			new_article_path,
			 			class: 'new_article'%></li>

						<li><%= link_to "All Tags",
						tags_path%></li>
			
		</ul>
	
	</div>
	
	
<div class="wrapper">

	<div class="main_content">
			<h1 class="head_title"><%=link_to "Blogger", 																	   					  		 articles_path %> </h1>

	
		<p class="flash"><%= flash.notice %></p>
	
	<%= yield %>

	</div>

	
</div>

</body>
</html>
